<md-toolbar color="primary">

    <span>Notice Board App</span>
    <span class="toolbar-spacer"></span>
    <!--<a routerLink="/addnotice" mdTooltip="Add a notice" md-mini-fab><md-icon>note_add</md-icon></a>
    <a routerLink="/" mdTooltip="View notices" md-mini-fab><md-icon>remove_red_eye</md-icon></a>-->
    <md-button-toggle-group #group="mdButtonToggleGroup">
  <md-button-toggle mdTooltip="Add a notice" routerLink="/addnotice" value="Add Notice">
    <md-icon>note_add</md-icon>
  </md-button-toggle>
   <md-button-toggle mdTooltip="View notices" routerLink="/" value="Add Notice" checked>
    <md-icon>remove_red_eye</md-icon>
  </md-button-toggle>

</md-button-toggle-group>
</md-toolbar>

<md-menu #appMenu="mdMenu">
  <button md-menu-item> Settings </button>
  <button md-menu-item> Help </button>
</md-menu>
<div id="router-container"><router-outlet></router-outlet></div>
